@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    
}
.sticky_header{
    width:100%;
    height:80px;
    line-height:80px;
    position: sticky;
    top:0;
    left:0;
    z-index: 99999;
    background: white;
    box-shadow: 3px 3px  -8px 3px #ddd;
}
@media only screen and (max-width:768px){
    .navigation{
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        z-index: 100;
        background: #00000084;
        display:none;
    }

    .menu{
        width:15rem;
        height:100%;
        position: absolute;
        top:0;
        right:0;
        background: #fff;
        z-index: 200;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 30px;
    }
    .show_menu{
        display:block;
    }
    /* .footer{
        background-color: rgb(11, 187, 187);
      }
      .faded-blue-div{
        background-color: rgba(96, 244, 255, 0.20);
      } */

    }.sticky_footer{
        width:100%;
        height:80px;
        line-height:80px;
        position: sticky;
        top:0;
        left:0;
        z-index: 99999;
        background: white;
        box-shadow: 3px 3px  -8px 3px #ddd;

}

.countdown-text{
display: flex;
align-items: center;
justify-content: space-between;
margin: 24px 0px;

}
.submit-btn{
    width:100%;
    border:none;
    color:#fff;
    border-radius:8px;
    font-size:15px;
    font-weight:500;
    padding:10px;
    background: linear-gradient(91deg,#9076fc 0%, #6950ff 100%);
    transition: all ease 0.6s;
}

.submit-btn:hover {
    color: #6950ff;
    background: #e6e0ffbf;
}
input {
    width: 300px;
    border-radius: 6px;
    border: 1.5px solid #dcelea;
    padding: 12px 20px;
}
input:focus{
    border-color: #306cff;
}

.countdown-text > p {
    font-size: 13px;
    font-weight: 400;
    color: #2d1d35;
}

.countdown-text > button {
    background-color: #fff;
    border: none;
    font-weight: 500;
    text-decoration: underline;
    cursor:pointer;
}





